<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well objective-well">
            <h1 class="text-center">Update Your Profile</h1>
            <p class="text-center">Need to change a few lines for your profile? Do it here!</p>
            
            <%= render 'form' %>
            
        </div>
      </div>
    </div>    
</div>