@import "bootstrap-sprockets";
@import "bootstrap";

$pirate_black: #222831;
$terminal-green: #24B273;
$rose-red: #A51C2D;

body {
    background-color:#393E46;
    color: $pirate_black;
}

.btn-hacked {
  border-radius:0;
}

.hacked {
    padding: 128px 0 256px 0;
    background-color:black;
    color:#777;
    margin:0;
}

.navbar-hacked {
  margin-bottom:0;
  padding-top:32px;
  
  border:none;
  background-color: rgba(0,0,0,1);
}

.navbar-fixed-top {
  padding-top:0;
}

.glitch{
  color:white;
  font-size:72px;
  position:relative;
  width:400px;
  //margin:0 auto;
  display:inline;
  font-family: 'Varela';
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 5s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 6s infinite linear alternate-reverse;
}

.btn-jumbohack {
    font-size: 120%;
    margin: 5px 5px;
    border-radius: 0;
    color:#EEEEEE;
}


// Jumbotron 2
.hacked-2 {
  background-image: url("http://i.imgur.com/t3lDqKd.jpg");
  
  -webkit-box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  margin-bottom: 0;
  padding-bottom: 120px;
}

.objective-well {
  border:none;
  border-right: 2px solid $rose-red;
  border-radius:0;
  background-color:rgba(0,0,0,0.5);
  
  color: $terminal-green;
  font-family: 'Archivo Narrow';
  p {
    font-size: 14px;
    color: #2DEA8F;
  }
}

.img-objective {
  margin-top:15px;
}

.feature-well {
  border:none;
  border-top: 2px solid $terminal-green;
  margin-bottom: 0;
  color:white;
  
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  
  p {
    color:white;
  }
}

//footer

.footer-container {
  color:#F7F4EA;
  padding: 128px 0 ;
}

.footer {
  padding-left: 0;
  padding-top: 16px;
  list-style: none;
  
  li {
    display:inline;
    margin: 0 30px;
  }
}

.footer-well {
  border-bottom: 3px solid $pirate-black;
  border-left: 2px solid $rose-red;
}

.end-well {
  border: none;
  margin-bottom: 0;
}