
$blue-black: #393E46;
$pirate-black: #222831;
$terminal-green: #24B273;
$rose-red: #A51C2D;

//GENERAL

body.pirate {
  background-color: $blue-black;
  color: $pirate-black;
}

.navbar.navbar-hacked {
  border-radius:0;
  
  margin-bottom:0;
  padding-top:16px;
  
  border:none;
  background-color: rgba(0,0,0,0.9);
  
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
}

.navbar.navbar-fixed-top {
  padding-top:0;
}

.navbar-btn {
  border-radius: 0;
  margin: 0 15px;
}

//landing page
.btn.btn-hacked {
  border-radius:0;
}

.jumbotron.hacked {
    padding: 128px 0 256px 0;
    background-color:black;
    color:#777;
    margin:0;
}

.btn.btn-jumbohack {
    font-size: 120%;
    margin: 5px 5px;
    border-radius: 0;
    color:#EEEEEE;
}


// Jumbotron 2
.jumbotron.hacked-2 {
  background-image: url("https://i.imgur.com/t3lDqKd.jpg");
  
  -webkit-box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 25px 20px 0px rgba(0,0,0,0.75);
  margin-bottom: 0;
  padding-bottom: 120px;
}

.well.objective-well {
  border:none;
  border-right: 2px solid $rose-red;
  border-radius:0;
  background-color:rgba(0,0,0,0.5);
  
  color: $terminal-green;
  font-family: 'Archivo Narrow';
  p {
    font-size: 14px;
    color: #2DEA8F;
  }
}

.img-objective {
  margin-top:15px;
}

.well.feature-well {
  border:none;
  border-top: 2px solid $terminal-green;
  margin-bottom: 0;
  color:white;
  
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
  
  p {
    color:white;
  }
}

//footer

.container.footer-container {
  color:#F7F4EA;
  padding: 128px 0 ;
}

ul.footer-list {
  padding-left: 0;
  list-style: none;
  
  li{
    display: inline;
    margin: 0 20px;
  }
}

.well.footer-well {
  border-bottom: 3px solid $pirate-black;
  border-left: 2px solid $rose-red;
}

.well.end-well {
  border: none;
  margin-bottom: 0;
  
  height:64px;
}




//USERS CSS
.well.pirate-well {
  border:0;
  border-radius: 0;
  background-color: rgba(0,0,0,0.5);
  color: $terminal-green;
  
  padding: 0 0 0 0;
  margin-bottom: 0;
}

.well.benefit-well {
  border-radius:0;
  border: 0;
  color: $terminal-green;
  padding-bottom: 40px;
  margin-bottom:0;
  background-color: rgba(0,0,0,0.8);
}

ul.benefit-members {
  list-style:none;
  -webkit-padding-start:0;
  li{
    margin: 8px;
  }
}

.jumbotron.img-coding {
  margin-bottom: 0;
  background-image: url("http://imagine.pics/images/890/89003.jpg");
  
  border-top: 2px solid $terminal-green;
}