// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$event-red: #F06161;

.well.post-well {
    border-radius:0;
    background-color: rgba(0,0,0,0.6);
    border:0;
    
    a {
        text-decoration: none;
        color: $event-red;
    }
}